<section class="max-w-7xl mx-auto px-8 py-20">

<h2 class="text-4xl font-bold">
Featured Areas
</h2>

<div class="grid md:grid-cols-3 gap-8 mt-12">

<div class="card rounded-2xl p-8">

<h3 class="text-2xl font-bold">
5G Core
</h3>

<p class="mt-4 text-gray-400 leading-8">
AMF, SMF, UPF, NRF, NSSF,
UE Registration,
PDU Session,
SBA Architecture.
</p>

</div>

<div class="card rounded-2xl p-8">

<h3 class="text-2xl font-bold">
EPC
</h3>

<p class="mt-4 text-gray-400 leading-8">
MME,
SGW,
PGW,
GTP,
Diameter,
S11,
S5/S8,
Troubleshooting.
</p>

</div>

<div class="card rounded-2xl p-8">

<h3 class="text-2xl font-bold">
Cloud & Automation
</h3>

<p class="mt-4 text-gray-400 leading-8">
Cloudflare,
Workers,
Linux,
Docker,
Python,
Automation,
Open Source.
</p>

</div>

</div>

</section>