---
import BaseHead from "../components/BaseHead.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title?: string;
  description?: string;
}

const { title = "PacketAlchemy", description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">

<head>
  <BaseHead title={title} description={description} />
</head>

<body class="bg-[#0b0f17] text-white min-h-screen">

  <Navbar />

  <main>
    <slot />
  </main>

  <Footer />

</body>
</html>
